/* 
    home.html stylesheet
    Author: Matt Zepp
*/

#personTable {
    width: 50%;
}

.personInnerTable {
    border: 1px solid black;
}

.personInnerTable th{
    text-align: center;

}

.divider {
    height: 30px;
}